<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>>> {{alert.message}}</h4>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" required name="email" ng-model="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" required name="pass" ng-model="pass" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button ng-click="passwordLogin(email, pass)" class="button button-stable button-block ">Log in</button>
            <a href="#/sign-up" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>